{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
            </div>
            <h2 class="article-title">Detalhe da aplicação de vacina</h2>
            <h4 class="article-content">Número do lote: {{ object.lote }}</h4>
            <p class="article-content">{{ card.vacina }}</p>
            <small class="text-muted">{{ card.date_posted|date:"d/m/Y" }}</small>

        </div>
    </article>
{% endblock content %}