{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_superuser %}

<!-- {% for item in items %}
        <h2>Itens {{ item }}</h2>
{% endfor %} -->

<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
</style>

<div id="container" style="width: 100%;">
    <canvas id="canvas"></canvas>
</div>


{% endif %}
{% endblock %}


{% block javascript %}
	<script>
		var items = "{{items}}";
	</script>
{% endblock %}
