.card-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  display: flex;
}
.card-section > .card-col {
  margin: 0px 10px;
}
.card-section > .card-col >  .celula-card{
  background: #efeeee;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  margin: 5px;
  padding: 10px;
}