{% extends "blog/base.html" %}
{% block content %}
    {% for vax in vaxes %}
    <article class="media content-section">
        <!-- <img class="rounded-circle article-img" src="{{ vax.author.profile.image.url }}"> -->
        <div class="media-body">
            <h2><a class="article-title" href="{% url 'vax-detail' vax.id %}">{{ vax.nome }}</a></h2>
            <p class="article-content">{{ vax.descricao }}</p>
            <div class="article-metadata">
                <!-- <small class="text-muted">{{ vax.descricao }}</small> -->
            </div>  
        </div>
    </article>
    {% endfor %}
{% endblock content %}