{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_superuser %}
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Adicionar vacina</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Postar</button>
                </div>
            </form>
        </div>
{% endif %}
{% endblock content %}