{% load static %}
<!DOCTYPE html>
    <html>
        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!-- Bootstrap CSS -->
            <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'blog/card.css' %}">            
            <link rel="stylesheet" type="text/css" href="{% static 'blog/login.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'blog/banner.css' %}">
            <link rel="stylesheet" type="text/css" href="{% static 'blog/footer.css' %}">
            
            {% if title %}
                <title>MedVax - {{ title }}</title>
            {% else %}
                <title>MedVax</title>
            {% endif %}
        </head>
        <body>
            <header class="site-header">
                <nav class="navbar navbar-expand-md navbar-dark bg-secondary fixed-top">
                    <div class="container">
                        <div class="collapse navbar-collapse" id="navbarToggle">
                            <div class="navbar-nav mr-auto">
                                <a class="nav-item nav-link" href="{% url 'blog-home' %}"><strong>Início</strong></a>
                                {% if user.is_authenticated  %}
                                <a class="nav-item nav-link" href="{% url 'vax-list' %}"><strong>Vacinas</strong></a>
                                <a class="nav-item nav-link" href="{% url 'station-list' %}"><strong>Unidades de saúde</strong></a>
                                <a class="nav-item nav-link" href="{% url 'card-list' %}"><strong>Carteira de vacina</strong></a>
                                {% if user.is_superuser %}
                                <a class="nav-item nav-link" href="{% url 'storage-list' %}"><strong>Estoque</strong></a>
                                <a class="nav-item nav-link" href="{% url 'card-graph-search' %}"><strong>Estatística de vacinas</strong></a>
                                {% endif %}
                                {% endif %}
                            </div>
                        <!-- Navbar Right Side -->
                            <div class="navbar-nav">
                                    {% if user.is_authenticated  %}
                                    {% if user.is_superuser %}
                                <div class="btn-group">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="text">
                                        Opções
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'post-create' %}">Criar post</a>
                                        <a class="dropdown-item" href="{% url 'station-create' %}">Cadastrar Unidade</a>
                                        <a class="dropdown-item" href="{% url 'vax-create' %}">Cadastrar vacina</a>
                                        <a class="dropdown-item" href="{% url 'storage-create' %}">Salvar em estoque</a>
                                    {% if user.is_superuser %}
                                        <a class="dropdown-item" href="{% url 'card-search' %}">Aplicar vacina</a>
                                    {% endif %}
                                    </div>
                                </div>
                                    {% endif %}
                                        <a class="nav-item nav-link" href="{% url 'profile' %}">{{ user.username }}</a>
                                        <a class="nav-item nav-link" href="{% url 'logout' %}">Sair</a>
                                    {% else  %}
                                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                                        <a class="nav-item nav-link" href="{% url 'register' %}">Registrar</a>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </nav>  
                {% block banner %}{% endblock %}
                
            </header>
            <main role="main" class="container mainSection">
                <div class="row spacer">
                    <div class="col-md-9">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{message.tags}}">
                                    {{ message }} 
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% block content %}{% endblock %}
                    </div>
                </div>
            </main>
            <section id="footer">
                <h2><strong>© MedVax</strong></h2>
            </section>
            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
            <script src="{% static 'blog/form.js' %}"></script>
            <!-- <script src="{% static 'blog/graph.js' %}"></script> -->
            <script src="{% static 'blog/profile.js' %}"></script>
            {% block javascript %}{% endblock %}

            <!-- <link rel="stylesheet" type="text/css" href="{% static 'blog/form.js' %}"> -->

    </body>
</html>